body
{
  background-color: #ebebeb;
}

.page
{
  margin: auto;
}

section
{
  background-color: #fff;
  width: 500px;
  margin: auto;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #817f7e;
  border-radius: 5px;
}

h1
{
  color: #dd5555;
  text-align: center;
  margin-top: 15px;
  font-size: 200;
}

h2
{
  color: #817f7e;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: 20px;
}

h2 span
{
  background-color: #d4d4d4;
}

p
{
  color: #817f7e;
  font-size: 1em;
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
}

.photo_tim
{
  display: block;
  width: 30%;
  border: #cccccc 5px solid;
  border-radius: 50%;
  margin: auto;
  margin-top:20px;
}

.bouton a
{
  display: block;
  margin: auto;
  width: 30%;
  height: 50px;
  background-color: #dd5555;
  border-radius:5px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

ul
{
  list-style-type: none;
  size: 50px;
  padding: 0;
  margin: 0 auto;
  display: block;
  /*width: 268px;*/
  margin: auto;
  /*height: 80px;
  line-height: 80px;*/
  /*display: block;
  margin: auto;*/
}

li
{
  width: 50px;
  /*margin: auto;*/
  display: inline-block;
  width:100px;
  margin: auto;
}

li a
{
  /*width: 50px;
  margin: auto;*/
  text-decoration: none;
  color: #817f7e;
  text-align: center;
  /*size: 30px;*/
}

i.fa.fa-facebook.fa-2x::before, i.fa.fa-linkedin.fa-2x::before, i.fa.fa-twitter.fa-2x::before
{
  /*width: 50px;
  margin: auto;*/
  color: red;
  text-align: center;
}

.social
{
  /*width: 500px;*/
  /*margin: auto;*/
}
